@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: decimal;
}

#menu {
    display: none;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .spisok {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.ad {
    width: 700px;
    height: 400px;
}

#closeAd {
    width: 100%;
}

.ad img {
    width: 700px;
    height: 400px;
}

.center_ad {
    display: flex;
    justify-content: center;
}